/gwt-unitCache/
/war/WEB-INF/lib/ifeed.jar
/.settings/
/test/
/test-classes/
.classpath
.project
/war/WEB-INF/appengine-generated/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/
/war/idetc_2016_2/
/build/
